In [6]:
import pandas
print(help(pandas.core.frame.DataFrame.fillna))
food_info = pandas.read_csv("food_info.csv")
print(type(food_info))
col_names = food_info.columns.tolist()
print(col_names)
print(food_info.head(3))

Help on function fillna in module pandas.core.frame:

fillna(self, value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)
    Fill NA/NaN values using the specified method

    Parameters
    ----------
    value : scalar, dict, Series, or DataFrame
        Value to use to fill holes (e.g. 0), alternately a
        dict/Series/DataFrame of values specifying which value to use for
        each index (for a Series) or column (for a DataFrame). (values not
        in the dict/Series/DataFrame will not be filled). This value cannot
        be a list.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series
        pad / ffill: propagate last valid observation forward to next valid
        backfill / bfill: use NEXT valid observation to fill gap
    axis : {0 or 'index', 1 or 'columns'}
    inplace : boolean, default False
        If True, fill in place. Note: this will modify any
        other views on this object, (e.g. a no-copy slice for a column in a
        DataFrame).
    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled. Must be greater than 0 if not None.
    downcast : dict, default is None
        a dict of item->dtype of what to downcast if possible,
        or the string 'infer' which will try to downcast to an appropriate
        equal type (e.g. float64 to int64 if possible)

    See Also
    --------
    interpolate : Fill NaN values using interpolation.
    reindex, asfreq

    Returns
    -------
    filled : DataFrame

    Examples
    --------
    >>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
    ...                    [3, 4, np.nan, 1],
    ...                    [np.nan, np.nan, np.nan, 5],
    ...                    [np.nan, 3, np.nan, 4]],
    ...                    columns=list('ABCD'))
    >>> df
         A    B   C  D
    0  NaN  2.0 NaN  0
    1  3.0  4.0 NaN  1
    2  NaN  NaN NaN  5
    3  NaN  3.0 NaN  4

    Replace all NaN elements with 0s.

    >>> df.fillna(0)
        A   B   C   D
    0   0.0 2.0 0.0 0
    1   3.0 4.0 0.0 1
    2   0.0 0.0 0.0 5
    3   0.0 3.0 0.0 4

    We can also propagate non-null values forward or backward.

    >>> df.fillna(method='ffill')
        A   B   C   D
    0   NaN 2.0 NaN 0
    1   3.0 4.0 NaN 1
    2   3.0 4.0 NaN 5
    3   3.0 3.0 NaN 4

    Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
    2, and 3 respectively.

    >>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
    >>> df.fillna(value=values)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 2.0 1
    2   0.0 1.0 2.0 5
    3   0.0 3.0 2.0 4

    Only replace the first NaN element.

    >>> df.fillna(value=values, limit=1)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 NaN 1
    2   NaN 1.0 NaN 5
    3   NaN 3.0 NaN 4

None
<class 'pandas.core.frame.DataFrame'>
['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)', 'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)', 'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)', 'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)', 'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg', 'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)', 'Cholestrl_(mg)']
   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85
2    1003      BUTTER OIL ANHYDROUS       0.24         876         0.28

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0          81.11     2.11            0.06           0.0           0.06
1          81.11     2.11            0.06           0.0           0.06
2          99.48     0.00            0.00           0.0           0.00

        ...        Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
0       ...          2499.0      684.0        2.32        1.5      60.0
1       ...          2499.0      684.0        2.32        1.5      60.0
2       ...          3069.0      840.0        2.80        1.8      73.0

   Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0          7.0      51.368       21.021        3.043           215.0
1          7.0      50.489       23.426        3.012           219.0
2          8.6      61.924       28.732        3.694           256.0

[3 rows x 36 columns]

In [12]:
#print food_info["Iron_(mg)"]
#div_1000 = food_info["Iron_(mg)"] / 1000
#print div_1000
# Adds 100 to each value in the column and returns a Series object.
#add_100 = food_info["Iron_(mg)"] + 100

# Subtracts 100 from each value in the column and returns a Series object.
#sub_100 = food_info["Iron_(mg)"] - 100

# Multiplies each value in the column by 2 and returns a Series object.
#mult_2 = food_info["Iron_(mg)"]*2

In [3]:
#It applies the arithmetic operator to the first value in both columns, the second value in both columns, and so on
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]
iron_grams = food_info["Iron_(mg)"] / 1000  
food_info["Iron_(g)"] = iron_grams

In [4]:
#Score=2×(Protein_(g))−0.75×(Lipid_Tot_(g))
weighted_protein = food_info["Protein_(g)"] * 2
weighted_fat = -0.75 * food_info["Lipid_Tot_(g)"]
initial_rating = weighted_protein + weighted_fat

In [5]:
# the "Vit_A_IU" column ranges from 0 to 100000, while the "Fiber_TD_(g)" column ranges from 0 to 79
#For certain calculations, columns like "Vit_A_IU" can have a greater effect on the result, 
#due to the scale of the values
# The largest value in the "Energ_Kcal" column.
max_calories = food_info["Energ_Kcal"].max()
# Divide the values in "Energ_Kcal" by the largest value.
normalized_calories = food_info["Energ_Kcal"] / max_calories
normalized_protein = food_info["Protein_(g)"] / food_info["Protein_(g)"].max()
normalized_fat = food_info["Lipid_Tot_(g)"] / food_info["Lipid_Tot_(g)"].max()
food_info["Normalized_Protein"] = normalized_protein
food_info["Normalized_Fat"] = normalized_fat

In [15]:
#By default, pandas will sort the data by the column we specify in ascending order and return a new DataFrame
# Sorts the DataFrame in-place, rather than returning a new DataFrame.
#print food_info["Sodium_(mg)"]
food_info.sort_values("Sodium_(mg)", inplace=True)
print food_info["Sodium_(mg)"]
#Sorts by descending order, rather than ascending.
food_info.sort_values("Sodium_(mg)", inplace=True, ascending=False)
print food_info["Sodium_(mg)"]

760     0.0
610     0.0
611     0.0
8387    0.0
8607    0.0
629     0.0
630     0.0
631     0.0
6470    0.0
654     0.0
8599    0.0
633     0.0
634     0.0
635     0.0
637     0.0
638     0.0
639     0.0
646     0.0
653     0.0
632     0.0
606     0.0
6463    0.0
655     0.0
673     0.0
658     0.0
3636    0.0
659     0.0
660     0.0
661     0.0
3663    0.0
       ...
8153    NaN
8155    NaN
8156    NaN
8157    NaN
8158    NaN
8159    NaN
8160    NaN
8161    NaN
8163    NaN
8164    NaN
8165    NaN
8167    NaN
8169    NaN
8170    NaN
8172    NaN
8173    NaN
8174    NaN
8175    NaN
8176    NaN
8177    NaN
8178    NaN
8179    NaN
8180    NaN
8181    NaN
8183    NaN
8184    NaN
8185    NaN
8195    NaN
8251    NaN
8267    NaN
Name: Sodium_(mg), dtype: float64
276     38758.0
5814    27360.0
6192    26050.0
1242    26000.0
1245    24000.0
1243    24000.0
1244    23875.0
292     17000.0
1254    11588.0
5811    10600.0
8575     9690.0
291      8068.0
1249     8031.0
5812     7893.0
1292     7851.0
293      7203.0
4472     7027.0
4836     6820.0
1261     6580.0
3747     6008.0
1266     5730.0
4835     5586.0
4834     5493.0
1263     5356.0
1553     5203.0
1552     5053.0
1251     4957.0
1257     4843.0
294      4616.0
8613     4450.0
         ...
8153        NaN
8155        NaN
8156        NaN
8157        NaN
8158        NaN
8159        NaN
8160        NaN
8161        NaN
8163        NaN
8164        NaN
8165        NaN
8167        NaN
8169        NaN
8170        NaN
8172        NaN
8173        NaN
8174        NaN
8175        NaN
8176        NaN
8177        NaN
8178        NaN
8179        NaN
8180        NaN
8181        NaN
8183        NaN
8184        NaN
8185        NaN
8195        NaN
8251        NaN
8267        NaN
Name: Sodium_(mg), dtype: float64

In [9]:
import numpy as np
import pandas as pd
titanic =  pd.read_csv("titanic_train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
age = titanic["Age"]
print(age.loc[0:10])
age_is_null = pd.isnull(age)
age_null_true = age[age_is_null]
age_null_count = len(age_null_true)
print(age_null_count)

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Age, dtype: float64
177

In [10]:
mean_age = sum(titanic["Age"] )/len(titanic["Age"])
print(mean_age)
good_ages = titanic["Age"][age_is_null == False]
correct_mean_age = sum(good_ages)/ len(good_ages)
print(correct_mean_age)
correct_mean_age = titanic["Age"].mean()
print(correct_mean_age)

nan
29.69911764705882
29.69911764705882

In [11]:
passenger_classes = [1,2,3]
fares_by_class = {}
for this_class in passenger_classes:
	pclass_rows = titanic[titanic["Pclass"] == this_class]
	pclass_fares = pclass_rows["Fare"]
	fare_for_class = pclass_fares.mean()
	fares_by_class[this_class] = fare_for_class
print(fares_by_class)

{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}

In [13]:
passenger_survival = titanic.pivot_table(index="Pclass", values ="Survived", aggfunc = np.mean)
print(passenger_survival)
passenger_age = titanic.pivot_table(index="Pclass", values ="Age")
print(passenger_age)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363
              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [7]:
port_stats = titanic.pivot_table(index="Embarked", values =["Fare","Survived"],aggfunc = np.sum)
print(port_stats)
row_index_83_age = titanic.loc[83,"Age"]
row_index_1000_pclass = titanic.loc[766,"Pclass"]
print(row_index_83_age)
print(row_index_1000_pclass)

                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217
28.0
1

In [12]:
row_index_83_age = titanic.loc[83,"Age"]
row_index_1000_pclass = titanic.loc[766,"Pclass"]
print(row_index_83_age)
print(row_index_1000_pclass)

28.0
1

In [18]:
new_titanic = titanic.sort_values("Age", ascending = False)
print(new_titanic[0:5])
titanic_reindexed =  new_titanic.reset_index(drop = True)
print(titanic_reindexed[0:5])
#This function returns the hundredth item from a series
def hundredth_row(column):
    #Extract the hundredth item
    hundredth_item =  column.loc[99]
    return hundredth_item


hundredth_row = titanic.apply(hundredth_row)
print(hundredth_row)

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon
96            97         0       1             Goldschmidt, Mr. George B
116          117         0       3                  Connors, Mr. Patrick

      Sex   Age  SibSp  Parch    Ticket     Fare Cabin Embarked
630  male  80.0      0      0     27042  30.0000   A23        S
851  male  74.0      0      0    347060   7.7750   NaN        S
493  male  71.0      0      0  PC 17609  49.5042   NaN        C
96   male  71.0      0      0  PC 17754  34.6542    A5        C
116  male  70.5      0      0    370369   7.7500   NaN        Q
   PassengerId  Survived  Pclass                                  Name   Sex  \
0          631         1       1  Barkworth, Mr. Algernon Henry Wilson  male
1          852         0       3                   Svensson, Mr. Johan  male
2          494         0       1               Artagaveytia, Mr. Ramon  male
3           97         0       1             Goldschmidt, Mr. George B  male
4          117         0       3                  Connors, Mr. Patrick  male

    Age  SibSp  Parch    Ticket     Fare Cabin Embarked
0  80.0      0      0     27042  30.0000   A23        S
1  74.0      0      0    347060   7.7750   NaN        S
2  71.0      0      0  PC 17609  49.5042   NaN        C
3  71.0      0      0  PC 17754  34.6542    A5        C
4  70.5      0      0    370369   7.7500   NaN        Q
PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
dtype: object

In [30]:
#By passing in the axis=1 argument, we can use the DataFrame.apply() method to iterate over rows instead of columns.
def which_class(row):
    pclass = row['Pclass']
    if pd.isnull(pclass):
        return "Unknown"
    elif pclass == 1:
        return "First Class"
    elif pclass == 2:
        return "Second Class"
    elif pclass == 3:
        return "Third Class"

classes = titanic.apply(which_class, axis=1)
print (classes[0:20])

def is_minor(row):
    if row["Age"] < 18:
        return True
    else:
        return False

minors =  titanic.apply(is_minor, axis = 1)
print(minors[0:10])

def geenerate_age_lable(row):
    age = row["Age"]
    if pd.isnull(age):
        return "unknow"
    elif age <18 :
        return "minor"
    else:
        return "adult"
age_labels = titanic.apply(geenerate_age_lable , axis = 1)
print(age_labels[0:10])

titanic["age_labels"] = age_labels
age_group_survival = titanic.pivot_table(index = "age_labels", values = "Survived")
print(age_group_survival)

0      Third Class
1      First Class
2      Third Class
3      First Class
4      Third Class
5      Third Class
6      First Class
7      Third Class
8      Third Class
9     Second Class
10     Third Class
11     First Class
12     Third Class
13     Third Class
14     Third Class
15    Second Class
16     Third Class
17    Second Class
18     Third Class
19     Third Class
dtype: object
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9     True
dtype: bool
0     adult
1     adult
2     adult
3     adult
4     adult
5    unknow
6     adult
7     minor
8     adult
9     minor
dtype: object
            Survived
age_labels
adult       0.381032
minor       0.539823
unknow      0.293785

In [31]:
#Series (collection of values)
#DataFrame (collection of Series objects)
#Panel (collection of DataFrame objects)

#A Series object can hold many data types, including
#float - for representing float values
#int - for representing integer values
#bool - for representing Boolean values
#datetime64[ns] - for representing date & time, without time-zone
#datetime64[ns, tz] - for representing date & time, with time-zone
#timedelta[ns] - for representing differences in dates & times (seconds, minutes, etc.)
#category - for representing categorical values
#object - for representing String values

In [38]:
#FILM - film name
#RottenTomatoes - Rotten Tomatoes critics average score
#RottenTomatoes_User - Rotten Tomatoes user average score
#RT_norm - Rotten Tomatoes critics average score (normalized to a 0 to 5 point system)
#RT_user_norm - Rotten Tomatoes user average score (normalized to a 0 to 5 point system)
#Metacritic - Metacritic critics average score
#Metacritic_User - Metacritic user average score
import pandas as pd
fandango = pd.read_csv('fandango_score_comparison.csv')
print(fandango.head())
series_film = fandango['FILM']
a_row = fandango.loc[0]
print(type(series_film))
print(series_film)
print(type(a_row))
print(a_row)
print(series_film[0:5])
series_rt = fandango['RottenTomatoes']
print (series_rt[0:5])

                             FILM  RottenTomatoes  RottenTomatoes_User  \
0  Avengers: Age of Ultron (2015)              74                   86
1               Cinderella (2015)              85                   80
2                  Ant-Man (2015)              80                   90
3          Do You Believe? (2015)              18                   84
4   Hot Tub Time Machine 2 (2015)              14                   28

   Metacritic  Metacritic_User  IMDB  Fandango_Stars  Fandango_Ratingvalue  \
0          66              7.1   7.8             5.0                   4.5
1          67              7.5   7.1             5.0                   4.5
2          64              8.1   7.8             5.0                   4.5
3          22              4.7   5.4             5.0                   4.5
4          29              3.4   5.1             3.5                   3.0

   RT_norm  RT_user_norm         ...           IMDB_norm  RT_norm_round  \
0     3.70           4.3         ...                3.90            3.5
1     4.25           4.0         ...                3.55            4.5
2     4.00           4.5         ...                3.90            4.0
3     0.90           4.2         ...                2.70            1.0
4     0.70           1.4         ...                2.55            0.5

   RT_user_norm_round  Metacritic_norm_round  Metacritic_user_norm_round  \
0                 4.5                    3.5                         3.5
1                 4.0                    3.5                         4.0
2                 4.5                    3.0                         4.0
3                 4.0                    1.0                         2.5
4                 1.5                    1.5                         1.5

   IMDB_norm_round  Metacritic_user_vote_count  IMDB_user_vote_count  \
0              4.0                        1330                271107
1              3.5                         249                 65709
2              4.0                         627                103660
3              2.5                          31                  3136
4              2.5                          88                 19560

   Fandango_votes  Fandango_Difference
0           14846                  0.5
1           12640                  0.5
2           12055                  0.5
3            1793                  0.5
4            1021                  0.5

[5 rows x 22 columns]
<class 'pandas.core.series.Series'>
0                      Avengers: Age of Ultron (2015)
1                                   Cinderella (2015)
2                                      Ant-Man (2015)
3                              Do You Believe? (2015)
4                       Hot Tub Time Machine 2 (2015)
5                            The Water Diviner (2015)
6                               Irrational Man (2015)
7                                     Top Five (2014)
8                        Shaun the Sheep Movie (2015)
9                                 Love & Mercy (2015)
10                  Far From The Madding Crowd (2015)
11                                   Black Sea (2015)
12                                   Leviathan (2014)
13                                    Unbroken (2014)
14                          The Imitation Game (2014)
15                                     Taken 3 (2015)
16                                       Ted 2 (2015)
17                                    Southpaw (2015)
18     Night at the Museum: Secret of the Tomb (2014)
19                                      Pixels (2015)
20                              McFarland, USA (2015)
21                        Insidious: Chapter 3 (2015)
22                     The Man From U.N.C.L.E. (2015)
23                               Run All Night (2015)
24                                  Trainwreck (2015)
25                                       Selma (2014)
26                                  Ex Machina (2015)
27                                 Still Alice (2015)
28                                  Wild Tales (2014)
29                         The End of the Tour (2015)
                            ...
116                       Clouds of Sils Maria (2015)
117                         Testament of Youth (2015)
118                      Infinitely Polar Bear (2015)
119                                    Phoenix (2015)
120                               The Wolfpack (2015)
121             The Stanford Prison Experiment (2015)
122                                  Tangerine (2015)
123                             Magic Mike XXL (2015)
124                                       Home (2015)
125                         The Wedding Ringer (2015)
126                              Woman in Gold (2015)
127                        The Last Five Years (2015)
128       Mission: Impossible â€“ Rogue Nation (2015)
129                                        Amy (2015)
130                             Jurassic World (2015)
131                                    Minions (2015)
132                                        Max (2015)
133                     Paul Blart: Mall Cop 2 (2015)
134                           The Longest Ride (2015)
135                         The Lazarus Effect (2015)
136        The Woman In Black 2 Angel of Death (2015)
137                              Danny Collins (2015)
138                                Spare Parts (2015)
139                                     Serena (2015)
140                                 Inside Out (2015)
141                                 Mr. Holmes (2015)
142                                        '71 (2015)
143                        Two Days, One Night (2014)
144         Gett: The Trial of Viviane Amsalem (2015)
145                Kumiko, The Treasure Hunter (2015)
Name: FILM, Length: 146, dtype: object
<class 'pandas.core.series.Series'>
FILM                          Avengers: Age of Ultron (2015)
RottenTomatoes                                            74
RottenTomatoes_User                                       86
Metacritic                                                66
Metacritic_User                                          7.1
IMDB                                                     7.8
Fandango_Stars                                             5
Fandango_Ratingvalue                                     4.5
RT_norm                                                  3.7
RT_user_norm                                             4.3
Metacritic_norm                                          3.3
Metacritic_user_nom                                     3.55
IMDB_norm                                                3.9
RT_norm_round                                            3.5
RT_user_norm_round                                       4.5
Metacritic_norm_round                                    3.5
Metacritic_user_norm_round                               3.5
IMDB_norm_round                                            4
Metacritic_user_vote_count                              1330
IMDB_user_vote_count                                  271107
Fandango_votes                                         14846
Fandango_Difference                                      0.5
Name: 0, dtype: object
0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object
0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [46]:
# Import the Series object from pandas
from pandas import Series

film_names = series_film.values
#print(type(film_names))
#print(film_names)
rt_scores = series_rt.values
print(rt_scores[0:10])
series_custom = Series(rt_scores , index=film_names)
series_custom[['Minions (2015)', 'Leviathan (2014)']]

# int index is also aviable
fiveten = series_custom[5:10]
print(fiveten)

original_index = series_custom.index.tolist()
#print original_index
sorted_index = sorted(original_index)
sorted_by_index = series_custom.reindex(sorted_index)
print(series_custom)
print("-------------------------------------------")
print(sorted_by_index)
#print sorted_by_index

[74 85 80 18 14 63 42 86 99 89]
The Water Diviner (2015)        63
Irrational Man (2015)           42
Top Five (2014)                 86
Shaun the Sheep Movie (2015)    99
Love & Mercy (2015)             89
dtype: int64
Avengers: Age of Ultron (2015)                     74
Cinderella (2015)                                  85
Ant-Man (2015)                                     80
Do You Believe? (2015)                             18
Hot Tub Time Machine 2 (2015)                      14
The Water Diviner (2015)                           63
Irrational Man (2015)                              42
Top Five (2014)                                    86
Shaun the Sheep Movie (2015)                       99
Love & Mercy (2015)                                89
Far From The Madding Crowd (2015)                  84
Black Sea (2015)                                   82
Leviathan (2014)                                   99
Unbroken (2014)                                    51
The Imitation Game (2014)                          90
Taken 3 (2015)                                      9
Ted 2 (2015)                                       46
Southpaw (2015)                                    59
Night at the Museum: Secret of the Tomb (2014)     50
Pixels (2015)                                      17
McFarland, USA (2015)                              79
Insidious: Chapter 3 (2015)                        59
The Man From U.N.C.L.E. (2015)                     68
Run All Night (2015)                               60
Trainwreck (2015)                                  85
Selma (2014)                                       99
Ex Machina (2015)                                  92
Still Alice (2015)                                 88
Wild Tales (2014)                                  96
The End of the Tour (2015)                         92
                                                 ...
Clouds of Sils Maria (2015)                        89
Testament of Youth (2015)                          81
Infinitely Polar Bear (2015)                       80
Phoenix (2015)                                     99
The Wolfpack (2015)                                84
The Stanford Prison Experiment (2015)              84
Tangerine (2015)                                   95
Magic Mike XXL (2015)                              62
Home (2015)                                        45
The Wedding Ringer (2015)                          27
Woman in Gold (2015)                               52
The Last Five Years (2015)                         60
Mission: Impossible â€“ Rogue Nation (2015)        92
Amy (2015)                                         97
Jurassic World (2015)                              71
Minions (2015)                                     54
Max (2015)                                         35
Paul Blart: Mall Cop 2 (2015)                       5
The Longest Ride (2015)                            31
The Lazarus Effect (2015)                          14
The Woman In Black 2 Angel of Death (2015)         22
Danny Collins (2015)                               77
Spare Parts (2015)                                 52
Serena (2015)                                      18
Inside Out (2015)                                  98
Mr. Holmes (2015)                                  87
'71 (2015)                                         97
Two Days, One Night (2014)                         97
Gett: The Trial of Viviane Amsalem (2015)         100
Kumiko, The Treasure Hunter (2015)                 87
Length: 146, dtype: int64
-------------------------------------------
'71 (2015)                                         97
5 Flights Up (2015)                                52
A Little Chaos (2015)                              40
A Most Violent Year (2014)                         90
About Elly (2015)                                  97
Aloha (2015)                                       19
American Sniper (2015)                             72
American Ultra (2015)                              46
Amy (2015)                                         97
Annie (2014)                                       27
Ant-Man (2015)                                     80
Avengers: Age of Ultron (2015)                     74
Big Eyes (2014)                                    72
Birdman (2014)                                     92
Black Sea (2015)                                   82
Black or White (2015)                              39
Blackhat (2015)                                    34
Cake (2015)                                        49
Chappie (2015)                                     30
Child 44 (2015)                                    26
Cinderella (2015)                                  85
Clouds of Sils Maria (2015)                        89
Danny Collins (2015)                               77
Dark Places (2015)                                 26
Do You Believe? (2015)                             18
Dope (2015)                                        87
Entourage (2015)                                   32
Escobar: Paradise Lost (2015)                      52
Ex Machina (2015)                                  92
Fantastic Four (2015)                               9
                                                   ..
The Loft (2015)                                    11
The Longest Ride (2015)                            31
The Man From U.N.C.L.E. (2015)                     68
The Overnight (2015)                               82
The Salt of the Earth (2015)                       96
The Second Best Exotic Marigold Hotel (2015)       62
The SpongeBob Movie: Sponge Out of Water (2015)    78
The Stanford Prison Experiment (2015)              84
The Vatican Tapes (2015)                           13
The Water Diviner (2015)                           63
The Wedding Ringer (2015)                          27
The Wolfpack (2015)                                84
The Woman In Black 2 Angel of Death (2015)         22
The Wrecking Crew (2015)                           93
Timbuktu (2015)                                    99
Tomorrowland (2015)                                50
Top Five (2014)                                    86
Trainwreck (2015)                                  85
True Story (2015)                                  45
Two Days, One Night (2014)                         97
Unbroken (2014)                                    51
Unfinished Business (2015)                         11
Unfriended (2015)                                  60
Vacation (2015)                                    27
Welcome to Me (2015)                               71
What We Do in the Shadows (2015)                   96
When Marnie Was There (2015)                       89
While We're Young (2015)                           83
Wild Tales (2014)                                  96
Woman in Gold (2015)                               52
Length: 146, dtype: int64

In [51]:
sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()
print(sc2[0:10])
print(sc3[0:10])

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64
Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

In [55]:
#The values in a Series object are treated as an ndarray, the core data type in NumPy
import numpy as np
# Add each value with each other
print(np.add(series_custom, series_custom))
# Apply sine function to each value
print(np.sin(series_custom))
# Return the highest value (will return a single value not a Series)
print(np.max(series_custom))

Avengers: Age of Ultron (2015)                    148
Cinderella (2015)                                 170
Ant-Man (2015)                                    160
Do You Believe? (2015)                             36
Hot Tub Time Machine 2 (2015)                      28
The Water Diviner (2015)                          126
Irrational Man (2015)                              84
Top Five (2014)                                   172
Shaun the Sheep Movie (2015)                      198
Love & Mercy (2015)                               178
Far From The Madding Crowd (2015)                 168
Black Sea (2015)                                  164
Leviathan (2014)                                  198
Unbroken (2014)                                   102
The Imitation Game (2014)                         180
Taken 3 (2015)                                     18
Ted 2 (2015)                                       92
Southpaw (2015)                                   118
Night at the Museum: Secret of the Tomb (2014)    100
Pixels (2015)                                      34
McFarland, USA (2015)                             158
Insidious: Chapter 3 (2015)                       118
The Man From U.N.C.L.E. (2015)                    136
Run All Night (2015)                              120
Trainwreck (2015)                                 170
Selma (2014)                                      198
Ex Machina (2015)                                 184
Still Alice (2015)                                176
Wild Tales (2014)                                 192
The End of the Tour (2015)                        184
                                                 ...
Clouds of Sils Maria (2015)                       178
Testament of Youth (2015)                         162
Infinitely Polar Bear (2015)                      160
Phoenix (2015)                                    198
The Wolfpack (2015)                               168
The Stanford Prison Experiment (2015)             168
Tangerine (2015)                                  190
Magic Mike XXL (2015)                             124
Home (2015)                                        90
The Wedding Ringer (2015)                          54
Woman in Gold (2015)                              104
The Last Five Years (2015)                        120
Mission: Impossible â€“ Rogue Nation (2015)       184
Amy (2015)                                        194
Jurassic World (2015)                             142
Minions (2015)                                    108
Max (2015)                                         70
Paul Blart: Mall Cop 2 (2015)                      10
The Longest Ride (2015)                            62
The Lazarus Effect (2015)                          28
The Woman In Black 2 Angel of Death (2015)         44
Danny Collins (2015)                              154
Spare Parts (2015)                                104
Serena (2015)                                      36
Inside Out (2015)                                 196
Mr. Holmes (2015)                                 174
'71 (2015)                                        194
Two Days, One Night (2014)                        194
Gett: The Trial of Viviane Amsalem (2015)         200
Kumiko, The Treasure Hunter (2015)                174
Length: 146, dtype: int64
Avengers: Age of Ultron (2015)                   -0.985146
Cinderella (2015)                                -0.176076
Ant-Man (2015)                                   -0.993889
Do You Believe? (2015)                           -0.750987
Hot Tub Time Machine 2 (2015)                     0.990607
The Water Diviner (2015)                          0.167356
Irrational Man (2015)                            -0.916522
Top Five (2014)                                  -0.923458
Shaun the Sheep Movie (2015)                     -0.999207
Love & Mercy (2015)                               0.860069
Far From The Madding Crowd (2015)                 0.733190
Black Sea (2015)                                  0.313229
Leviathan (2014)                                 -0.999207
Unbroken (2014)                                   0.670229
The Imitation Game (2014)                         0.893997
Taken 3 (2015)                                    0.412118
Ted 2 (2015)                                      0.901788
Southpaw (2015)                                   0.636738
Night at the Museum: Secret of the Tomb (2014)   -0.262375
Pixels (2015)                                    -0.961397
McFarland, USA (2015)                            -0.444113
Insidious: Chapter 3 (2015)                       0.636738
The Man From U.N.C.L.E. (2015)                   -0.897928
Run All Night (2015)                             -0.304811
Trainwreck (2015)                                -0.176076
Selma (2014)                                     -0.999207
Ex Machina (2015)                                -0.779466
Still Alice (2015)                                0.035398
Wild Tales (2014)                                 0.983588
The End of the Tour (2015)                       -0.779466
                                                    ...
Clouds of Sils Maria (2015)                       0.860069
Testament of Youth (2015)                        -0.629888
Infinitely Polar Bear (2015)                     -0.993889
Phoenix (2015)                                   -0.999207
The Wolfpack (2015)                               0.733190
The Stanford Prison Experiment (2015)             0.733190
Tangerine (2015)                                  0.683262
Magic Mike XXL (2015)                            -0.739181
Home (2015)                                       0.850904
The Wedding Ringer (2015)                         0.956376
Woman in Gold (2015)                              0.986628
The Last Five Years (2015)                       -0.304811
Mission: Impossible â€“ Rogue Nation (2015)      -0.779466
Amy (2015)                                        0.379608
Jurassic World (2015)                             0.951055
Minions (2015)                                   -0.558789
Max (2015)                                       -0.428183
Paul Blart: Mall Cop 2 (2015)                    -0.958924
The Longest Ride (2015)                          -0.404038
The Lazarus Effect (2015)                         0.990607
The Woman In Black 2 Angel of Death (2015)       -0.008851
Danny Collins (2015)                              0.999520
Spare Parts (2015)                                0.986628
Serena (2015)                                    -0.750987
Inside Out (2015)                                -0.573382
Mr. Holmes (2015)                                -0.821818
'71 (2015)                                        0.379608
Two Days, One Night (2014)                        0.379608
Gett: The Trial of Viviane Amsalem (2015)        -0.506366
Kumiko, The Treasure Hunter (2015)               -0.821818
Length: 146, dtype: float64
100

In [57]:
#will actually return a Series object with a boolean value for each film
series_custom > 50
series_greater_than_50 = series_custom[series_custom > 50]

criteria_one = series_custom > 50
criteria_two = series_custom < 75
both_criteria = series_custom[criteria_one & criteria_two]
print(both_criteria)

Avengers: Age of Ultron (2015)                                            74
The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Southpaw (2015)                                                           59
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Welcome to Me (2015)                                                      71
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Pitch Perfect 2 (2015)                                                    67
The Age of Adaline (2015)                                                 54
The DUFF (2015)                                                           71
Ricki and the Flash (2015)                                                64
Unfriended (2015)                                                         60
American Sniper (2015)                                                    72
The Hobbit: The Battle of the Five Armies (2014)                          61
Paper Towns (2015)                                                        55
Big Eyes (2014)                                                           72
Maggie (2015)                                                             54
Focus (2015)                                                              57
The Second Best Exotic Marigold Hotel (2015)                              62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Into the Woods (2014)                                                     71
Inherent Vice (2014)                                                      73
Magic Mike XXL (2015)                                                     62
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Jurassic World (2015)                                                     71
Minions (2015)                                                            54
Spare Parts (2015)                                                        52
dtype: int64

In [58]:
#data alignment same index
rt_critics = Series(fandango['RottenTomatoes'].values, index=fandango['FILM'])
rt_users = Series(fandango['RottenTomatoes_User'].values, index=fandango['FILM'])
rt_mean = (rt_critics + rt_users)/2

print(rt_mean)

FILM
Avengers: Age of Ultron (2015)                    80.0
Cinderella (2015)                                 82.5
Ant-Man (2015)                                    85.0
Do You Believe? (2015)                            51.0
Hot Tub Time Machine 2 (2015)                     21.0
The Water Diviner (2015)                          62.5
Irrational Man (2015)                             47.5
Top Five (2014)                                   75.0
Shaun the Sheep Movie (2015)                      90.5
Love & Mercy (2015)                               88.0
Far From The Madding Crowd (2015)                 80.5
Black Sea (2015)                                  71.0
Leviathan (2014)                                  89.0
Unbroken (2014)                                   60.5
The Imitation Game (2014)                         91.0
Taken 3 (2015)                                    27.5
Ted 2 (2015)                                      52.0
Southpaw (2015)                                   69.5
Night at the Museum: Secret of the Tomb (2014)    54.0
Pixels (2015)                                     35.5
McFarland, USA (2015)                             84.0
Insidious: Chapter 3 (2015)                       57.5
The Man From U.N.C.L.E. (2015)                    74.0
Run All Night (2015)                              59.5
Trainwreck (2015)                                 79.5
Selma (2014)                                      92.5
Ex Machina (2015)                                 89.0
Still Alice (2015)                                86.5
Wild Tales (2014)                                 94.0
The End of the Tour (2015)                        90.5
                                                  ...
Clouds of Sils Maria (2015)                       78.0
Testament of Youth (2015)                         80.0
Infinitely Polar Bear (2015)                      78.0
Phoenix (2015)                                    90.0
The Wolfpack (2015)                               78.5
The Stanford Prison Experiment (2015)             85.5
Tangerine (2015)                                  90.5
Magic Mike XXL (2015)                             63.0
Home (2015)                                       55.0
The Wedding Ringer (2015)                         46.5
Woman in Gold (2015)                              66.5
The Last Five Years (2015)                        60.0
Mission: Impossible â€“ Rogue Nation (2015)       91.0
Amy (2015)                                        94.0
Jurassic World (2015)                             76.0
Minions (2015)                                    53.0
Max (2015)                                        54.0
Paul Blart: Mall Cop 2 (2015)                     20.5
The Longest Ride (2015)                           52.0
The Lazarus Effect (2015)                         18.5
The Woman In Black 2 Angel of Death (2015)        23.5
Danny Collins (2015)                              76.0
Spare Parts (2015)                                67.5
Serena (2015)                                     21.5
Inside Out (2015)                                 94.0
Mr. Holmes (2015)                                 82.5
'71 (2015)                                        89.5
Two Days, One Night (2014)                        87.5
Gett: The Trial of Viviane Amsalem (2015)         90.5
Kumiko, The Treasure Hunter (2015)                75.0
Length: 146, dtype: float64

In [5]:
import pandas as pd
fandango = pd.read_csv('fandango_score_comparison.csv')
print(type(fandango))
print(fandango.head())
print(fandango.index)
#It will return a new DataFrame that is indexed by the values in the specified column
#and will drop the column which the FILM column's vlaus is missing from the DataFrame
fandango_films = fandango.set_index("FILM", drop = False)
print(fandango_films.index)

<class 'pandas.core.frame.DataFrame'>
                             FILM  RottenTomatoes  RottenTomatoes_User  \
0  Avengers: Age of Ultron (2015)              74                   86
1               Cinderella (2015)              85                   80
2                  Ant-Man (2015)              80                   90
3          Do You Believe? (2015)              18                   84
4   Hot Tub Time Machine 2 (2015)              14                   28

   Metacritic  Metacritic_User  IMDB  Fandango_Stars  Fandango_Ratingvalue  \
0          66              7.1   7.8             5.0                   4.5
1          67              7.5   7.1             5.0                   4.5
2          64              8.1   7.8             5.0                   4.5
3          22              4.7   5.4             5.0                   4.5
4          29              3.4   5.1             3.5                   3.0

   RT_norm  RT_user_norm         ...           IMDB_norm  RT_norm_round  \
0     3.70           4.3         ...                3.90            3.5
1     4.25           4.0         ...                3.55            4.5
2     4.00           4.5         ...                3.90            4.0
3     0.90           4.2         ...                2.70            1.0
4     0.70           1.4         ...                2.55            0.5

   RT_user_norm_round  Metacritic_norm_round  Metacritic_user_norm_round  \
0                 4.5                    3.5                         3.5
1                 4.0                    3.5                         4.0
2                 4.5                    3.0                         4.0
3                 4.0                    1.0                         2.5
4                 1.5                    1.5                         1.5

   IMDB_norm_round  Metacritic_user_vote_count  IMDB_user_vote_count  \
0              4.0                        1330                271107
1              3.5                         249                 65709
2              4.0                         627                103660
3              2.5                          31                  3136
4              2.5                          88                 19560

   Fandango_votes  Fandango_Difference
0           14846                  0.5
1           12640                  0.5
2           12055                  0.5
3            1793                  0.5
4            1021                  0.5

[5 rows x 22 columns]
RangeIndex(start=0, stop=146, step=1)
Index(['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)',
       'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)',
       'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)',
       'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)',
       ...
       'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)',
       'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)',
       'Mr. Holmes (2015)', ''71 (2015)', 'Two Days, One Night (2014)',
       'Gett: The Trial of Viviane Amsalem (2015)',
       'Kumiko, The Treasure Hunter (2015)'],
      dtype='object', name='FILM', length=146)

In [12]:
#Slice using either bracket notation or loc[]
fandango_films["Avengers: Age of Ultron (2015)":"Hot Tub Time Machine 2 (2015)"]
fandango_films[0:5]

#specific movie
fandango_films.loc["Avengers: Age of Ultron (2015)":"Hot Tub Time Machine 2 (2015)"]

#Selecting list of movies
movies = ['Kumiko, The Treasure Hunter (2015)','Two Days, One Night (2014)','Serena (2015)']
print(fandango_films.loc[movies])

#When selecting multiple rows, a DataFrame is returned,
#But when selecting an individual row, a Series object is returned instead.

                                                                  FILM  \
FILM
Kumiko, The Treasure Hunter (2015)  Kumiko, The Treasure Hunter (2015)
Two Days, One Night (2014)                  Two Days, One Night (2014)
Serena (2015)                                            Serena (2015)

                                    RottenTomatoes  RottenTomatoes_User  \
FILM
Kumiko, The Treasure Hunter (2015)              87                   63
Two Days, One Night (2014)                      97                   78
Serena (2015)                                   18                   25

                                    Metacritic  Metacritic_User  IMDB  \
FILM
Kumiko, The Treasure Hunter (2015)          68              6.4   6.7
Two Days, One Night (2014)                  89              8.8   7.4
Serena (2015)                               36              5.3   5.4

                                    Fandango_Stars  Fandango_Ratingvalue  \
FILM
Kumiko, The Treasure Hunter (2015)             3.5                   3.5
Two Days, One Night (2014)                     3.5                   3.5
Serena (2015)                                  3.0                   3.0

                                    RT_norm  RT_user_norm  \
FILM
Kumiko, The Treasure Hunter (2015)     4.35          3.15
Two Days, One Night (2014)             4.85          3.90
Serena (2015)                          0.90          1.25

                                           ...           IMDB_norm  \
FILM                                       ...
Kumiko, The Treasure Hunter (2015)         ...                3.35
Two Days, One Night (2014)                 ...                3.70
Serena (2015)                              ...                2.70

                                    RT_norm_round  RT_user_norm_round  \
FILM
Kumiko, The Treasure Hunter (2015)            4.5                 3.0
Two Days, One Night (2014)                    5.0                 4.0
Serena (2015)                                 1.0                 1.5

                                    Metacritic_norm_round  \
FILM
Kumiko, The Treasure Hunter (2015)                    3.5
Two Days, One Night (2014)                            4.5
Serena (2015)                                         2.0

                                    Metacritic_user_norm_round  \
FILM
Kumiko, The Treasure Hunter (2015)                         3.0
Two Days, One Night (2014)                                 4.5
Serena (2015)                                              2.5

                                    IMDB_norm_round  \
FILM
Kumiko, The Treasure Hunter (2015)              3.5
Two Days, One Night (2014)                      3.5
Serena (2015)                                   2.5

                                    Metacritic_user_vote_count  \
FILM
Kumiko, The Treasure Hunter (2015)                          19
Two Days, One Night (2014)                                 123
Serena (2015)                                               19

                                    IMDB_user_vote_count  Fandango_votes  \
FILM
Kumiko, The Treasure Hunter (2015)                  5289              41
Two Days, One Night (2014)                         24345             118
Serena (2015)                                      12165              50

                                    Fandango_Difference
FILM
Kumiko, The Treasure Hunter (2015)                  0.0
Two Days, One Night (2014)                          0.0
Serena (2015)                                       0.0

[3 rows x 22 columns]

In [16]:
#The apply() method in Pandas allows us to specify Python logic
#The apply() method requires you to pass in a vectorized operation
#that can be applied over each Series object.
import numpy as np

#Return the data types as a Series
types = fandango_films.dtypes
print(types)
#filter data types to just floats, index attributes return just column names
float_columns = types[types.values == 'float64'].index
float_df = fandango_films[float_columns]
#print(float_df)
#`x` is a Series object representing a column
deviations =  float_df.apply(lambda x:np.std(x))
print(deviations)

FILM                           object
RottenTomatoes                  int64
RottenTomatoes_User             int64
Metacritic                      int64
Metacritic_User               float64
IMDB                          float64
Fandango_Stars                float64
Fandango_Ratingvalue          float64
RT_norm                       float64
RT_user_norm                  float64
Metacritic_norm               float64
Metacritic_user_nom           float64
IMDB_norm                     float64
RT_norm_round                 float64
RT_user_norm_round            float64
Metacritic_norm_round         float64
Metacritic_user_norm_round    float64
IMDB_norm_round               float64
Metacritic_user_vote_count      int64
IMDB_user_vote_count            int64
Fandango_votes                  int64
Fandango_Difference           float64
dtype: object
Metacritic_User               1.505529
IMDB                          0.955447
Fandango_Stars                0.538532
Fandango_Ratingvalue          0.501106
RT_norm                       1.503265
RT_user_norm                  0.997787
Metacritic_norm               0.972522
Metacritic_user_nom           0.752765
IMDB_norm                     0.477723
RT_norm_round                 1.509404
RT_user_norm_round            1.003559
Metacritic_norm_round         0.987561
Metacritic_user_norm_round    0.785412
IMDB_norm_round               0.501043
Fandango_Difference           0.152141
dtype: float64

In [21]:
rt_mt_user =  float_df[['RT_user_norm','Metacritic_user_nom']]
#print(rt_mt_user)
rt_mt_user.apply(lambda x: np.std(x), axis = 1)

FILM
Avengers: Age of Ultron (2015)                    0.375
Cinderella (2015)                                 0.125
Ant-Man (2015)                                    0.225
Do You Believe? (2015)                            0.925
Hot Tub Time Machine 2 (2015)                     0.150
The Water Diviner (2015)                          0.150
Irrational Man (2015)                             0.575
Top Five (2014)                                   0.100
Shaun the Sheep Movie (2015)                      0.150
Love & Mercy (2015)                               0.050
Far From The Madding Crowd (2015)                 0.050
Black Sea (2015)                                  0.150
Leviathan (2014)                                  0.175
Unbroken (2014)                                   0.125
The Imitation Game (2014)                         0.250
Taken 3 (2015)                                    0.000
Ted 2 (2015)                                      0.175
Southpaw (2015)                                   0.050
Night at the Museum: Secret of the Tomb (2014)    0.000
Pixels (2015)                                     0.025
McFarland, USA (2015)                             0.425
Insidious: Chapter 3 (2015)                       0.325
The Man From U.N.C.L.E. (2015)                    0.025
Run All Night (2015)                              0.350
Trainwreck (2015)                                 0.350
Selma (2014)                                      0.375
Ex Machina (2015)                                 0.175
Still Alice (2015)                                0.175
Wild Tales (2014)                                 0.100
The End of the Tour (2015)                        0.350
                                                  ...
Clouds of Sils Maria (2015)                       0.100
Testament of Youth (2015)                         0.000
Infinitely Polar Bear (2015)                      0.075
Phoenix (2015)                                    0.025
The Wolfpack (2015)                               0.075
The Stanford Prison Experiment (2015)             0.050
Tangerine (2015)                                  0.325
Magic Mike XXL (2015)                             0.250
Home (2015)                                       0.200
The Wedding Ringer (2015)                         0.825
Woman in Gold (2015)                              0.225
The Last Five Years (2015)                        0.225
Mission: Impossible â€“ Rogue Nation (2015)       0.250
Amy (2015)                                        0.075
Jurassic World (2015)                             0.275
Minions (2015)                                    0.125
Max (2015)                                        0.350
Paul Blart: Mall Cop 2 (2015)                     0.300
The Longest Ride (2015)                           0.625
The Lazarus Effect (2015)                         0.650
The Woman In Black 2 Angel of Death (2015)        0.475
Danny Collins (2015)                              0.100
Spare Parts (2015)                                0.300
Serena (2015)                                     0.700
Inside Out (2015)                                 0.025
Mr. Holmes (2015)                                 0.025
'71 (2015)                                        0.175
Two Days, One Night (2014)                        0.250
Gett: The Trial of Viviane Amsalem (2015)         0.200
Kumiko, The Treasure Hunter (2015)                0.025
Length: 146, dtype: float64